extends layout

block content
    #page-wrapper
        .main-page
            .forms
                h2.title1 Add owner credit
                .form-grids.row.widget-shadow(data-example-id='basic-forms')
                    .form-body
                        form(method="post", action="/owner/credit/update-owner-credit", data-toggle='validator')
                            .form-group
                                label(for='amount') Amount (Shs)
                                input#amount.form-control(type='text',
                                name="amount", placeholder='Amount')
                            .form-group
                            button.btn.btn-default(type='submit') Add
                            input(type='hidden', name="ownerId", value=ownerId)
                            input(type='hidden', name="currentCredit", value=currentCredit)