extends layout

block content
    // main content start
    #page-wrapper
        .main-page
            .tables
                h2.title1 Status :
                    |
                    |
                    span.online-count
                .table-responsive.bs-example.widget-shadow
                    // h4 Responsive Table:
                    if size > 0
                        table.table#customer-table
                            thead
                                tr
                                    th Picture
                                    th Name
                                    th Email
                                    th Online
                            tbody
                                each val, index in guards
                                    tr
                                        td
                                            img(src=val.avatar, alt='', width='50px', height='50px')
                                        td= val.name
                                        td= val.email
                                        td
                                            span(id=index, class="status") Offline
                    else
                        h4.title1 No guards online!